body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);;
}

.App-header {
  background-color: #fed6e3;
  height: 300px;
  width: 100vw;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.logo {
  max-height: 200px;
  max-width: 200px;
  width: auto;
  height: auto;
}



.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  align-items: flex-start;
}

.page-icon {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


.page-name {
  width: 210px;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  vertical-align: center;
  font-size: 25px;
  color: salmon;
  opacity: 0;
  font-family: cursive;

 
  
}
.page-name:hover {
  background-color:#a8edea;
  opacity: 1;
}
.page-icon:hover {
  width: 250px;
}



.menu-icon {
  height: 40px;
  width: 40px;
}

.search-bar {
  appearance: none;
  background-color: #a8edea;
  border: 2px solid lightpink;
  height: 40px;
  width: 250px;
  color:salmon;
}

.search-bar:focus {
  outline: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1555px;
  margin: auto;
}

.product-card {
  text-align: center;
  width: 220px;
  height: 500px;
  margin: 20px;
  border-bottom: 2px solid lightpink;
}

.product-img {
  max-width: 220px;
  max-height: 330px;
  object-fit: cover;
  height: auto;
  margin-bottom: 10px;
}

p {
  color:salmon;
  margin: 0 0 5px 0;
}

a, a:hover, a:visited  {
  text-decoration: none;
}

.Title{
  font-family: cursive;
  font-weight: 600;
  font-size: 55px;
  width: auto;
  text-align: center;
}
.SubTitle{
  color: salmon;
  font-family: cursive;
  text-align: center;
}

.category {
  color:salmon;
  margin: 0 0 20px 0;
}

a, a:hover, a:visited  {
  text-decoration: none;
}

.cart-btn {
  background-color:steelblue;
  color: salmon;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  border: none;
  position: relative;
  bottom: 0;
}


.cart-btn:focus {
  outline: none;
}

.shopping-cart {
  text-align: center;
}

h1 {
  color: salmon;
}

hr {
  border: 1px solid salmon;
}

.empty-cart {
  margin-top: 80px;
}

.Checkout{
  color: salmon;
  font-size: 20px;
}